.App {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
  
#messageWindow {
  height: 70vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.messages {
    display: flex;
    flex-direction: column;
    text-align: left;
}

ul { 
    list-style: none;
    width: 100%;
    padding-inline-start: 0;
    align-content: flex-end;
}

li {
    display: flex;
    flex-direction: row;
    padding: 1%;
    width: 100%;
    word-wrap: break-word;
}

#profilePic {
    padding: 10px;
}

#userName {
    font-weight: bold;
    margin: 10px;
    font-size: large;
}

#time {
    margin: 10px;
    color: #bdc3c7;
}

#content {
    margin: 0 auto;
    width: 100%;
    word-wrap: break-word;
}

#topLine {
    display: flex;
    flex-direction: row;
}

#rightBlock {
    display: flex;
    flex-direction: column;
}

#msgInput{
    display: flex;
    margin:auto;
    width: 87vw;
    height: 5vh;
    text-size-adjust: 3vh;
    /* position: fixed; bottom:6.75vh; */
    font-size: large;
    /* border: 2px solid darkgray;
    border-bottom: white; */
    padding-bottom: 20px;
}

#msgBox {
    position: fixed;
    bottom:3vh;
    display: flex;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    height: fit-content;
    flex-direction: column; 
    border-radius: 5px;
    border: 3px solid darkgray;
}

/* msg screen header bar */

.msg-screen-header {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100vw;
}

.msg-screen-header-info {
    padding: 1%;
    display: flex;
    background-color: #3F0E40;
    color: white;
    height: fit-content;
    width: 100vw;
    align-items: center;
}

#workspace-img {
    margin-left: 1em;
    width: 10vw;
}

#workspace-name {
    font-weight: bold;
    font-size: 1em;
    width: 60vw;
}

#search-icon {
    width: 10vw;
}
#ellipsis-icon {
    width: 10vw;
}

#contact-info {
    background-color: rgb(228, 226, 226);
    height: fit-content;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}



.icons{
    display: flex;
    margin:auto;
    justify-content: left;
    /* position: fixed; bottom:3vh; */
    padding-right: 30%;
    width: 60.25vw;
    /* border:2px solid darkgrey; */
    background-color: #f8f8f8;
    /* border-top: white; */
    margin-top: -20px;
    
}


#paperclip{
    padding: 5px;
}

#paperclip:hover{
    background-color: teal;
    border-radius: 2px;
}

#icon{
    padding: 5px;
}

#icon:hover{
    background-color: lightgray;
    border-radius: 2px;
}

/* sidebar css */


.sideBar {
    list-style: none;
    width: 85vw;
    height:100vh;
    background-color: #3F0E40;
}

.sideBar-content {
    display: flex;
    flex-direction: column;
    margin-left: 3vw; 

}


#header {
    color: white;
}

#subHeader {
    color: #CFC3CF;
}

#channel-list {
    color: #CFC3CF;
}

#user-list {
    color: #CFC3CF;
}

#jump-to-input {
    background-color: rgb(49, 11, 49);
    color: #CFC3CF;
    border: none;
    width: 100%;
}

::placeholder {
    color: #CFC3CF;
    
}

/* home screen and login/sign up */

.home-page {
    background-color:  #3F0E40;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sign-in-msg {
    color: #CFC3CF;;
}

.email-input {
    background-color: #3F0E40;
    border: none;
    color: #CFC3CF;
}

#slack-img {
    height: 10vw;
}